<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">

  <div class="banner-content">
  <h1> <%= @cocktail.name %></h1>

  </div>
</div>

<div class="content">
  <h2>Recipe:</h2>
  <p class="small-link"> <%= link_to 'Add a New Dose', new_cocktail_dose_path(@cocktail) %></p>

<table>
  <tbody>

  <% @cocktail.doses.each do |dose| %>

      <tr><p>
        <td><%= dose.description %><%= dose.ingredient.name %></td>
        <td><%= link_to dose_path(dose), method: :delete do %><i class="fa fa-close"></i></td>
        <% end %>
      </p></tr>
    <% end %>

  <%= link_to 'Back', root_path, class: 'btn back-btn' %>

  </tbody>
</table>

</div>


